.page-header {
    background-color: #C25100;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.post {
    margin-bottom: 70px;
    margin-top:140px;
}

h1 a, h2 a {
    color: #10C9EC;
    font-family: 'Lobster';
}
p.normal{
	color:#000000;
	font-family:Arial, Helvetica, sans-serif;
}
p.seller{
        color:#000000;
        font-family:Arial, Helvetica, sans-serif;
}
p.details{
        color:#000000;
        font-family:Arial, Helvetica, sans-serif;
}

